
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');



*{

    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}


body{
    background-image: url( background\ image\ 2.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #2e2e44f;*/
}

.digital-clock{
    position: relative;
   /* background-color: #2d2f41;*/
    color: white;
    width: 200px;
    height: 600;
    padding: 5% 18%;
    /*box-shadow:0 0px 60px 15px #bea2e9;
    border-radius: 2%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    

}
.Time{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hours , .dots , .minutes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0px 10px;
    line-height: 125px;
}

.hours , .minutes{
    font-size: 1000%;
}

.dots{
    font-size: 700%;
    color: rgb(212, 208, 208)
    
}

.hours{
    background: -webkit-linear-gradient(90deg, #634dff , #5fd4ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.minutes{
    background: -webkit-linear-gradient(90deg, #f94dff , #ff5f5f);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.right-side{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 2%;
}
.period, .seconds{
    font-size: 170%;
    font-weight: 500;
}

.period{
    transform: translateY(-20px);
    background: -webkit-linear-gradient(90deg, #ff1a1a , #f85353);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}
.seconds{
    transform: translateY(16px);
    background: -webkit-linear-gradient(90deg, #1dff5e , #5faaff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.calender{
    display: flex;
    flex-direction: row;
    margin: 0% 0%;
    justify-content: center;
}

.months , .comma ,.day , .number , .year{
    margin: 0% 7% 0% 0%;
    transform: translateY(16px);
    background: -webkit-linear-gradient(90deg, #cd00f7 , #1b83fa);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 600;
    font-size: 175%;
} 

